* {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 500;
	font-family: "Libre Franklin", sans-serif;
	line-height: 1.4;
	box-sizing: border-box;
	background-color: transparent;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

*:focus-visible {
	outline: none;
}

html {
	width: 100%;
	height: 100%;
	background-color: var(--bg-clr-1);
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	max-width: 393px;
	min-width: 200px;
	margin: auto;
	overflow: hidden;
}

body > .bg-efct {
	background-color: var(--bg-clr-2);
	filter: blur(624px);
}

body > main,
nav > .btns,
nav > .btns > .btn,
nav > .indctr .lns,
nav > .indctr .txts,
main > .cn > .cn,
main > .cn > .cn-icn {
	display: flex;
	justify-content: center;
	align-items: center;
}

body > header,
nav {
	padding: 26px 22px;
}

body,
body > main,
body > header,
body > nav,
nav > .btns,
nav > .btn,
nav > .indctr .lns,
nav > .indctr .lns > .ln,
main > .cn {
	position: relative;
	z-index: 1;
}

body > header,
body > nav {
	z-index: 2 !important;
}

body,
body > main,
body > header,
nav,
nav > .btns > .btn,
nav > .indctr {
	display: flex;
	flex-direction: column;
}