html {
	--bg-clr-1: #121212;
	--bg-clr-2: #FFB900;
	--bg-clr-3: rgb(255, 255, 255, .1);
	--bg-clr-4: rgb(255, 255, 255, .25);
	--bg-clr-5: #FF9800;
	--bg-clr-6: #FFD600;
	--bg-clr-7: #FFC700;
	--bg-clr-8: rgb(0, 0, 0, .25);
	--clr-1: #E0E0E0;
	--clr-2: #929292;
}