<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>EggCoin | {% block title %}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Logo -->

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/header.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/navbar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/icon.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/effect.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/text.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/variable.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/attribute.css')}}"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </head>

  <body>
    {% include "components/header.html" %}
    <main>{% block content %}{% endblock %}</main>
    {% include "components/navbar.html" %}
    <div class="bg-efct"></div>
  </body>
</html>
