<nav>
  <div style="--cns-clctd: 100%" class="indctr">
    <div class="txts">
      <span class="txt">
        <span class="crnt">10,000</span>
        &nbsp;/&nbsp;
        <span class="mx">10,000</span>
      </span>
    </div>
    <div class="lns">
      <span class="ln"></span>
      <div class="bg-efct"></div>
    </div>
  </div>
  <div class="btns">
    <button type="button" class="btn">
      <span class="icn-1"></span>
      <span class="txt">Ref</span>
    </button>
    <button type="button" class="btn">
      <span class="icn-1"></span>
      <span class="txt">Task</span>
    </button>
    <button type="button" class="btn">
      <span class="icn-1"></span>
      <span class="txt">Boost</span>
    </button>
    <div class="bg-efct"></div>
  </div>
</nav>
